@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
    background-color:  #d8dabd;
    font-family: "Helvetica Neue";
}
.container {
    padding: 0 5% 0 5%;
    color: #4a5d68;
    text-shadow: 1px 1px #d8dabd;
    }

.header {
    padding: 2% 5% 2% 5%;
    border-radius: 15px 15px 15px 15px; 
    background-color: #2f3e46;
    color: #d8dabd;
    text-align: center;
    text-shadow: 5px 5px 0px #000000;
    }
    
.titles {
    padding: 2%;
    border-radius: 15px 15px 15px 15px; 
    background-color: #ffffffd5;
}
.desc {
    padding-left: 5%;
    color: #5a707c;
    font-size: 80%;
    font-style: italic;
    }
